{% load static %}
<html>
<head>
<title>Covid-19 Doctor App</title>   
<!-- <link rel="stylesheet" type="text/css" href="../static/css/main.csss">  -->
<link rel="stylesheet" type="text/css" href="../static/css/people.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
</head>
<body >
  <div class="main_container">
    <div id="nav" >
        <img id="icon-nav" src="../static/images/Group 29.png"> </img>
        <h1  id="heading-main">DocApp</h1>
        <div class="profile">
          <img class="profile-pic" src="../static/images/profile.png"></img>
          <h3 id="name">{{ user.username }}</h3>
          <h3 id="address"><a href="{% url 'logout' %}"> Logout</a></h3>
          </div>
    </div>
      <!--
    <div class="infobox">
      <div class="searchbox">
        <h2 style="padding-top: 2vh;">Search</h2>
              <form class="search-form" action="">
                <input type="text" id="search-input"  placeholder="Search ">      
                <input type="submit" value="Search" id="button">
              </form>
      </div>
      -->
      <!-- <div class="heading_bar">
        <div class="heading_child">Heading</div>
        <div class="heading_child">Heading</div>
      </div> -->
      <div class="contentbox">
        <div class="sidebar">
        <div class="heading_child">People</div>
          <ul>
            <li><a href="{% url 'dashboard' %}" >Dashboard</a></li>
            <li><a href="{% url 'general_public' %}">People</a></li>
            <li><a href="{% url 'hotspots' %}">Hotspots</a></li>
            <li><a href="{% url 'maps' %}">Providers</a></li>
          </ul>
        </div>
        <div class="workarea">
          <div class="notification_box">
            <div class="heading_child" style="margin-bottom: 2vh;">Heading</div>
            <div class="notification_card">
              <table id="example" class="display" style="width:100%">
                  <thead>
                      <tr>
                          <th>Mobile</th>
                          <th>Probability</th>
                          <th>ID</th>
                      </tr>
                  </thead>
              </table>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../static/js/people_data.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

</html>